<div class="modal-header">
  <h3 class="modal-title">About HashtagGuessr</h3>
</div>
<div class="modal-body">
  <p>HashtagGuessr is a social game where you compete against others to guess the hottest hashtag on twitter right now.</p>
  <p>It is for the moment a pretty crude prototype so it is still riddled with bugs.</p> 
  <p>Technologies involved are Sails.js, AngularJs and Twitters streaming API.</p> 
  <p>Before making this game I had very little experience in web app development and I wanted to create something that used real time updates together with some external API.</p> 
  <p>The project can be found at <a href="https://github.com/bailer/hashtagGuessr">https://github.com/bailer/hashtagGuessr</a> and you can contact me at jakob.sennerby@gmail.com if you have any questions :)</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>