<div ng-controller="GameRoomCtrl" ng-cloak>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <form ng-hide="hasUsername">
        <input type="text" ng-model="username">
        <input type="text" ng-model="guess">
        <button class="btn btn-default" ng-click="joinRoom()">Save</button>
      </form>
      <div ng-show="hasUsername">{{username}}</div>
      <button class="btn btn-default" ng-click="startGame()">Start Game</button>
    </div>
  </div>
  {{gameRoom.name}} {{gameRoom.players.length}} players <br>
  <div ng-show="waitingToStart">
    {{countdownToStart}}
  </div>
  <div ng-show="gameActive">
    {{player.score}} <br>
    {{tweetText}}
  </div>
  <div class="row" ng-show="gameRoom">
    <div class="col-lg-6 col-md-6 col-sm-12 player1">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 player2">
    </div>
  </div>
</div>