<div ng-controller="LobbyCtrl" ng-cloak>
  <div class="col-md-12">
    <ul class="gameRoomlist" ng-model="gameRoomList">
      <li class="gameRoomListItem" ng-repeat="gameRoom in gameRoomList">
        <a href="/game/{{gameRoom.id}}">{{gameRoom.name}}</a>
      </li>
    </ul>
  </div>

  <!-- Form for creating new game room  -->
  <div class="navbar navbar-inverse navbar-fixed-bottom" >
    <div class="col-lg-12">
      <form class="formGameRoom">
        <div class="col-lg-4 col-md-3">
          <!-- Game Room -->
          <input type="text" ng-model="newGameRoomName" class="form-control">
        </div>
        <input type="checkbox" ng-model="joinRoomAtCreate">
        <button class="btn btn-default col-lg-2 col-md-2" ng-click="createNewGameRoom()">Send</button>  
      </form>
      
    </div>
  </div>

</div>
