<div ng-app="hashtagGuessrApp" ng-controller="LobbyController">
  <script type="text/javascript">
    // var gameRoomList = $('<ul/>').addClass('gameRoomList');
    // io.socket.get('/gameroom', function serverResponded(body, JWR) {
    //   var gameRoomsJSON = body;
    //   $('.gameRooms').html(gameRoomList);
    //   $.each(gameRoomsJSON, function(key, item) {
    //     addGameRoom(item);
    //   });
    //   console.log(gameRoomList);
    // });
    // io.socket.on('gameroom', function(obj) {
    //   if (obj.verb == "created") {
    //     addGameRoom(obj.data);
    //   } else if (obj.verb = "destroyed") {
    //     removeGameRoom(obj.id);
    //   }
    // })
    // function addGameRoom(gameRoom) {
    //   var gameRoomListItem = $('<li/>').addClass('gameRoomListItem').attr('id', gameRoom.id).appendTo(gameRoomList);
    //   var gameRooms = $('<a/>').addClass('gameRoomListContent').text(gameRoom.name).attr('href', '/gameroom/'+gameRoom.id).appendTo(gameRoomListItem);
    // };
    // function removeGameRoom(gameRoomId) {
    //   $("#"+gameRoomId).remove();
    // }
  </script>
  <div class="col-md-12">
    <ul class="gameRoomlist">
      <li class="gameRoomListItem" ng-repeat="gameRoom in gameRoomList">
        <a href="/gameroom/{{gameRoom.id}}">{{gameRoom.name}}</a>
      </li>
    </ul>
  </div>
  <div class="navbar navbar-inverse navbar-fixed-bottom" >
    <div class="col-lg-12">
      
      <form class="formGameRoom">
        <div class="col-lg-4 col-md-3">
          <!-- Game Room -->
          <input type="text" ng-model = "newGameRoomName" ng-model-instant class="form-control" placeholder="Game room 12">
        </div>
        <button class="btn btn-default col-lg-2 col-md-2" ng-click="createNewGameRoom()">Send</button>  
      </form>
      
    </div>
  </div>

</div>
